.menu-spacing{
    height: 100px;
    background-color: red;
}
.intro-text-content{
     display: flex;
     flex-flow: column wrap;
     align-items: center;
     justify-content: center;
     height: 100vh;

    }
    
.flex{
    display: flex;
}
.intro-div {
    position: relative;
    top: -2rem;
    display: grid;
    grid-template-columns: 1fr 1.5fr;
    gap:var(--gap);
    align-items: center;

}
.intro-div h2{
  font-size: 6rem;
  margin-bottom: 50px;
  text-transform: uppercase;
  line-height: 1.2;

}
.intro-img{
    display: flex;
    justify-content: center;
    align-items: center;
}
.intro-img img{
    max-width: 100%;
    height: auto;
}
.meio{
    color:#0A1128;
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    justify-content: center;
    position: relative;
    top: 8rem;
    
}
.grid{
    position: relative;
    top:8rem;
    display: flex;
    flex-flow: column wrap;
    align-items: flex-start;
}
.grid-interna{
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap:var(--gap);
   
}
.grid-interna h3{
   
   

}